@model IEnumerable<Song>

<h2>Songs</h2>
<table class="table">
    <tr>
        <th>Song Name</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Release Date</th>
        <th>Track Number</th>
        <th>Label</th>
        <th>Producer</th>
        <th>Album Art</th>
    </tr>

    @foreach (var song in @Model)
    {
        <tr>
            <td><a href=/Song/ViewSong/@song.ID>@song.SongName</a></td>
            <td><a href=/Song/ViewArtist/@song.ID>@song.Artist</a></td>
            <td><a href=/Song/ViewAlbum/@song.AlbumID>@song.Album</a></td>
            <td>@song.ReleaseDate</td>
            <td>@song.TrackNumber</td>
            <td>@song.Label</td>
            <td>@song.Producer</td>
            <td>@song.AlbumArt</td>
        </tr>
    }

</table>
