@model IEnumerable<Song>

<h2>Album Information by Artist</h2>
<table class="table">
 <tr>
     <th>Artist</th>
     <th>Album</th>
     <th>Track Number</th>
     <th>Song Name</th>
     <th>Album Art</th>
 </tr>

    @foreach (var artist in @Model)
    {
        <tr>
            @if (artist.AlbumArt == null)
            {
                <td><a href=/Song/ViewArtist/@artist.ID>@artist.Artist</a></td>
                <td>@artist.Album</td>
                <td>@artist.TrackNumber</td>
                <td><a href=/Song/ViewSong/@artist.ID>@artist.SongName</a></td>
                <td><img src="~/images/blank vinyltemp.png" /></td>
            }
            else
            {
                var base64 = Convert.ToBase64String(artist.AlbumArt);
                var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);

                <td><a href=/Song/ViewArtist/@artist.ID>@artist.Artist</a></td>
                <td>@artist.Album</td>
                <td>@artist.TrackNumber</td>
                <td><a href=/Song/ViewSong/@artist.ID>@artist.SongName</a></td>
                <td><img src="@imgSrc" /></td>
            }

        </tr>
    }

</table>
<form>
    <div class="d-grid gap-2">
        <a id="button" class="btn btn-outline-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</form>