@model Song

<h3>Song Information</h3>
<h4>Click on a song name to view songs of the same chord progression</h4>

<table class="table">
    
    <tr>
        <th>Song Name</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Release Date</th>
        <th>Track Number</th>
        <th>Label</th>
        <th>Producer</th>
    </tr>
    
    
    <tr>
        <td><a href=/Song/ViewSimilarSongs/@Model.ChordProgressionID>@Model.SongName</a></td>
        <td>@Model.Artist</td>
        <td>@Model.Album</td>
        <td>@Model.ReleaseDate</td>
        <td>@Model.TrackNumber</td>
        <td>@Model.Label</td>
        <td>@Model.Producer</td>
    
    </tr>
    
</table>

<div  class="btn-group" role="group" aria-label="Basic example">

    <a id="button" class="btn btn-outline-light" href="/Song/UpdateSong/@Model.ID">Update this song</a>
    @using (Html.BeginForm("DeleteSong", "Song", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input id="button" class="btn btn-outline-light" type="submit" onclick="return confirm('Are you sure?')" value="Delete this song" />
    }
</div>

<br />
<br />
<form>
    <div class="d-grid gap-2">
        <a id="button" class="btn btn-outline-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</form>
<br/>
