@model IEnumerable<Song>
<h2>Albums by Artist</h2>
<table class="table">
 <tr>
     <th>Artist</th>
     <th>Album</th>
     <th>Track Number</th>
     <th>Song Name</th>
     <th>Album Art</th>
 </tr>

    @foreach (var artist in @Model)
    {
        <tr>
            <td>@artist.Artist</td>
            <td>@artist.Album</td>
            <td>@artist.TrackNumber</td>
            <td>@artist.SongName</td>
            <td>@artist.AlbumArt</td>
        </tr>
    }
</table>