@model IEnumerable<Song>

<h2>Albums by Artist</h2>
<table class="table">
 <tr>
     <th>Albums</th>
     <th>Release Date</th>
     <th>Album Art</th>
 </tr>
 
@foreach (var artist in @Model)
{
        
    <tr>
         @if (artist.AlbumArt == null)
         {
             <td><a href=/Song/ViewAlbum/@artist.AlbumID>@artist.Album</a></td>
             <td>@artist.ReleaseDate</td>
             <td><img src="~/images/blank vinyltemp.png" /></td>
         }
         else
         {
             var base64 = Convert.ToBase64String(artist.AlbumArt);
             var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);

             <td><a href=/Song/ViewAlbum/@artist.AlbumID>@artist.Album</a></td>
             <td>@artist.ReleaseDate</td>
             <td><img src="@imgSrc" /></td>
         }

    </tr>
}

</table>
<form>
    <div class="d-grid gap-2">
        <a id="button" class="btn btn-outline-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</form>